* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    background: #18181B;
    color: whitesmoke;
    display: flex;
    font-family: 'Overpass Mono', monospace;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 100vh;
}

#time-container {

    font-size: 4em;
    font-weight: bold;
}

#search-container {
    width: 30%;
    margin: 15px;
}

#search-container input {
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    background: #272728;
    border: none;
    color: #535353;
}

#links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    text-transform: lowercase;
}

#links-container a {
    color: #535353;
    padding: 5px;
}

#links-container a:hover {
    color: #6C5A22;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}